@import 'abstracts/variables';
@import 'abstracts/mixins';

@import "base/iconfont";
@import 'base/reset';
@import "base/normarlize";

@import "components/divider";
@import 'components/layout';
@import 'components/box';
@import 'components/button';
@import 'components/dropdown';
@import 'components/footer';
@import 'components/grid';
@import 'components/icheck';
@import 'components/input';
@import 'components/list';
@import 'components/msg-box';
@import 'components/tab';
@import "components/header";
@import "components/icon";
@import "components/label";
@import "components/carousel";
@import "components/extra";

.category-full-height {
    position: absolute;
    left: 25%;
    height: 100%;
}
