/**
 * @author Moon
 */
.box {
    width: 100%;
    background-color: #fff;
    margin-top: 10px;
    position: relative;

    .box-header {
        padding: 5px 0;
        border-bottom: 1px solid $common-border-color;

        &.no-border {
            border-bottom: 0;
        }

        p {
            padding-left: 10px;
            border-left: 3px solid $brand-danger;
        }
    }

    .box-body {
        position: relative;
    }
}

.box-flex {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    background-color: #fff;

    li {
        list-style: none;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;
        text-align: center;
        padding: 10px 0;

        p {
            margin-top: 5px;
        }
    }
}

.order-box {
    & > div {
        position: relative;
        width: 100%;
        padding: 10px;
        @include box-sizing(border-box);
        @include border($common-border-config, bottom);

        i:last-of-type {
            font-size: 13px;
        }
    }

    p {
        padding: 10px;
        @include border($common-border-config, bottom);
        text-align: right;

        &:last-of-type {
            height: 33px;
        }
    }

    button {
        width: 100px;
    }
}

.address-box {
    & > p {
        padding: 8px 10px 0;
    }

    & > div {
        margin-top: 10px;
        @include border($common-border-config, top);
    }

    .col-6 {
        @include border($common-border-config, right);
        @include box-sizing(border-box);
        padding: 10px 0;
    }
}

.category-box {
    background-color: #fff;
    margin-top: 0;
    @include border($common-border-config, bottom);

    .box-body {
        font-size: 0;
        font-size: 0;
        padding: 10px 0;

        span {
            width: 33.33%;
            text-align: center;
            display: inline-block;
            height: 25px;
            line-height: 25px;
            overflow: hidden;
        }
    }
}