/**
 * @author Moon
 */
.box {
    width: 100%;
    .box-header {
        padding: 5px 0;
        border-bottom: 1px solid $common-border-color;

        p {
            padding-left: 10px;
            border-left: 3px solid $brand-danger;
        }
    }

    .box-body {
        position: relative;
    }
}
