.goods-info {
    background-color: #fff;

    .price {
        padding: 10px 0;

        span {
            margin-right: 10px;

            &:first-of-type {
                font-size: 18px;
            }
        }
    }
    .guarantee {
        background-color: #fffaf6;
        margin: 0 -10px -10px;
        height: 30px;
        line-height: 30px;
        padding-left: 10px;
        
        i {
            margin-right: 3px;
        }

        span {
            margin-right: 5px;
        }
    }
}

.cart-address {
    width: 100%;
    padding: 15px 20px 15px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 10px;
    position: relative;

    p:first-of-type {
        margin-bottom: 5px;
    }

    .right {
        position: absolute;
        right: 5px;
        top: 50%;
        margin-top: -7px;
    }
}
