.footer {
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: $black-light;

    span {
        margin: 0 5px;
        color: $gray-light;
    }
}

.footer-fixed {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 39px;
    border-top: 1px solid $gray-lighter;
    background-color: #fff;

    .btn {
        height: 39px;
        font-size: 17px;
    }
}
