.grid {
    width: 100%;
    display: block;
    font-size: 0;
    @include border($common-border-config, bottom);

    .item {
        width: 50%;
        padding: 5px;
        display: inline-block;
        float: left;
        background-color: #fff;
        @include box-sizing(border-box);
        @include border($common-border-config, top);
        @include border($common-border-config, right);

        &:nth-child(even) {
            border-right-color: #fff;
        }

        .img-container {
            width: 100%;
            overflow: hidden;
            position: relative;

            &:after {
                content: '';
                margin-top: 100%;
                display: block;
            }

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
            }
        }

        h5 {
            padding: 5px;
            text-align: center;
            height: 17px;
            overflow: hidden;
        }

        .price {
            color: $brand-danger;
        }

        .del-price {
            color: $gray;
        }

        small {
            color: $gray-dark;
            overflow: hidden;
            display: block;
            height: 18px;
            line-height: 18px;
        }
    }
}
