.input-group {
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: relative;
    @include border($common-border-config, top);

    &:last-child {
        @include border($common-border-config, bottom);
    }

    input,
    select {
        width: 100%;
        border: none;
        padding-right: 10px;
        @include box-sizing(border-box);
        background-color: $white;
    }

    &.has-icon {
        input {
            padding-left: 45px;
        }

        .icon {
            position: absolute;
            width: 40px;
            height: 40px;
            text-align: center;

            i {
                font-size: 20px;
            }
        }
    }

    &.has-text {
        input,
        select {
            padding-left: 105px;
        }

        .text {
            position: absolute;
            width: 90px;
            height: 40px;
            text-align: left;
            padding-left: 10px;
        }
        
        .necessary {
            position: absolute;
            right: 5px;
            font-size: 20px;
            top: 4px;
            color: $brand-danger;
        }
        
        .select-icon {
            position: absolute;
            top: 0;
            right: 10px;
        }
    }
}
.input-addon {
    display: inline-block;
    border: $common-border-config;
    font-size: 0;
    height: 30px;

    button {
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        background-color: $gray-lighter;
        font-size: 20px;
        border: 0;
    }

    input {
        width: 40px;
        border: none;
        padding: 0 10px;
        font-size: 14px;
    }
}
