.input-group {
    width: 100%;
    height: 40px;
    line-height: 40px;
    @include border($common-border-config, top);

    &:last-child {
        @include border($common-border-config, bottom);
    }

    input {
        width: 100%;
        border: none;
        padding-left: 45px;
        @include box-sizing(border-box);
        outline: none;
    }

    span {
        position: absolute;
        width: 40px;
        height: 40px;
        text-align: center;

        i {
            font-size: 20px;
        }
    }
}
.input-addon {
    display: inline-block;
    border: $common-border-config;
    font-size: 0;
    height: 30px;

    span {
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        background-color: $gray-lighter;
        font-size: 20px;
    }

    input {
        width: 40px;
        border: none;
        padding: 0 10px;
        font-size: 14px;
    }
}
