
.container {
    @include container-fixed;
    height: 100%;
}

.row {
    @include make-row;
}

@include make-grid-columns;

@include make-grid;

.wrapper {
    margin-top: 10px;
    width: 100%;
    height: auto;
    background-color: #fff;

    &.wrapper-padding {
        padding: 10px;
    }
}

.content {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    min-height: 40px;
    border-top: 2px solid $gray-lighter;
}