
.container {
    @include container-fixed;
    height: 100%;
}

.row {
    @include make-row;
}

@include make-grid-columns;

@include make-grid;

.wrapper {
    margin-top: 10px;
    width: 100%;
    height: auto;
    background-color: #fff;

    &.wrapper-padding {
        padding: 10px;
    }
}