/**
 * @author Moon
 */
* {
    margin: 0;
    padding: 0;
    font-size: $font-size-base;
    font-family: $font-family-base;
    color: $gray-darker;
}

html,
body {
    height: 100%;
}

input,
select {
    outline: none;
}

.content {
    padding: 10px;
}

.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}

.text-red {
    color: $brand-danger !important;
}

.text-center {
    text-align: center !important;
}
