$version: '1.0.0';

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$white:         rgb(255, 255, 255) !default;
$gray-darker:   rgb(51, 61, 71) !default;
$gray-dark:     rgb(107, 114, 118) !default;
$gray:          rgb(162, 167, 170) !default;
$gray-light:    rgb(200, 204, 204) !default;
$gray-lighter:  rgb(242, 242, 242) !default;
$black-light:   rgb(40, 40, 40) !default;

$brand-danger:  rgb(236, 81, 81) !default;
$brand-warning: rgb(255, 180, 0) !default;
$brand-success: rgb(31, 203, 194) !default;
$brand-info:    rgb(43, 175, 255) !default;
$brand-primary: rgb(0, 102, 221) !default;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            $gray-darker !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

// $font-family-base: STXihei， Droid Sans, 'Microsoft Yahei', Helvetica, Arial, STXihei, SimSun, sans-serif !default;
$font-family-base: Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif;

$font-size-base:            14px !default;
$font-size-large:           20px !default; // ~18px
$font-size-small:           ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:              floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:              floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:              ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:              ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:              $font-size-base !default;
$font-size-h6:              ceil(($font-size-base * 0.85)) !default; // ~12px

$border-radius-base:        4px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:           normal !default;

$btn-default-color:         $white !default;
$btn-default-bg:            $gray-darker !default;
$btn-default-border:        $gray-darker !default;

$btn-danger-color:          $white !default;
$btn-danger-bg:             $brand-danger !default;
$btn-danger-border:         $brand-danger !default;

$btn-warning-color:         $white !default;
$btn-warning-bg:            $brand-warning !default;
$btn-warning-border:        $brand-warning !default;

$btn-success-color:         $white !default;
$btn-success-bg:            $brand-success !default;
$btn-success-border:        $brand-success !default;

$btn-info-color:            $white !default;
$btn-info-bg:               $brand-info !default;
$btn-info-border:           $brand-info !default;

$btn-primary-color:         $white !default;
$btn-primary-bg:            $brand-primary !default;
$btn-primary-border:        $brand-primary !default;

$btn-link-disabled-color:   $gray-light !default;
$btn-round-size:            16px !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:    $border-radius-base !default;
$btn-border-radius-large:   $border-radius-large !default;
$btn-border-radius-small:   $border-radius-small !default;

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:    $brand-danger !default;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:       $white !default;

//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

$padding-large-vertical:    10px !default;
$padding-large-horizontal:  16px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;

$cursor-disabled:           not-allowed !default;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:          1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:      floor(($font-size-base * $line-height-base)) !default; // ~20px
$line-height-large:         1.3333333 !default; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5 !default;
//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         20px !default;

//== Navs
//
//##

//=== Shared nav styles
$nav-link-padding:                          5px 15px !default;
$nav-link-hover-bg:                         $gray-lighter !default;

$nav-disabled-link-color:                   $gray-light !default;
$nav-disabled-link-hover-color:             $gray-light !default;

//== Tabs
$nav-tabs-border-color:                     #ddd !default;

$nav-tabs-link-hover-border-color:          $gray-lighter !default;

$nav-tabs-active-link-hover-bg:             $body-bg !default;
$nav-tabs-active-link-hover-color:          $brand-danger !default;
$nav-tabs-active-link-hover-border-color:   #ddd !default;

$tab-bg-color: $white !default;

//== Header
$header-border-color: $gray-light !default;
$header-padding: 10px 0 !default;
$header-bg-color: $white !default;
